@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --bk:hsl(216, 12%, 8%);
    --section-bk: rgba(24, 34, 47, 0.846);
    --round: hsl(213, 19%, 18%);
    --number: hsl(216, 12%, 54%);
    --paragraph: hsl(217, 12%, 63%);
    --header: hsl(0, 0%, 100%);
    --button: hsl(25, 97%, 53%);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bk);
    text-align: center;
    margin: 1rem .5rem;
    font-family: 'Overpass', sans-serif;
}

section {
    background-color: var(--section-bk);
    width: 28rem;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    padding: 1.8rem;  
    text-align: left;
    border-radius: 1.2rem;
}

section div {
    margin-bottom: 1rem;
}

.ratingStar {
    position: relative;
    background-color: var(--round);
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 100%;
    text-align: center;
}
.ratingStar img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

h1 {
    color: var(--header);
}

p {
    color: var(--paragraph);
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
    line-height: 1.6;
}

.inputs {
    display: flex;
    gap: 5px;
}

.container {
    position: relative;
    padding-left: 002.2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-bottom: 2.5rem;
  }

  .container:not(:last-child){
    margin-right: 2.6rem;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--round);
    border-radius: 50%;
    text-align: center;
  }

  span p{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color:#fff;
  }

  .checkmark:hover p{
    color: #fff;
  }

  .container:hover input ~ .checkmark{
    background-color: var(--paragraph);
    color:#fff;
  }

  .container input:checked ~ .checkmark{
    background-color: var(--button);
  }



#subBtn {
    border: none;
    border-radius: 2rem;
    width: 24.5rem;
    height: 3.3rem;
    letter-spacing: .2rem;
    background-color: var(--button);
    color: #fff;
    cursor: pointer;
}

#subBtn:hover {
    background-color: #fff;
    color: var(--button);
}

.show{
    text-align: center;
    display: none;
}

.image{
    padding-top: .8rem;
    margin: 0;
    padding-bottom: 10px;
}

.ratingSelected{
    background-color: hsl(213, 19%, 18%);
    border-radius: 3rem;
    width: 13rem;
    padding: .3rem .3rem;
    margin: 1rem auto 2rem;
}

.ratingSelected p {
    margin: 0;
    color: var(--button);
}

footer {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--paragraph);
}


@media screen and (max-width:425px){
    
    section {
        width: 23rem;
        height: auto;
    }

    .inputs{
        gap: 1.5rem;
    }

    label.container {
        padding: 0;
    }

    .checkmark {
        width: 3.5rem;
        height: 3.5rem;
        margin: 0;
    }

    #subBtn {
        width: 19.7rem;
    }
}

@media screen and (max-width:375px){
    h1{
        font-size: 20px;
    }

    p{
        font-size: 16px;
        margin-bottom: 1.4rem;
    }

    section {
        width: 19rem;
    }     

    .inputs{
        gap: .8rem;
        margin: 0;
    }
    
    label.container {
        padding: 0;
    }

    #subBtn {
        width: 16rem;
    }

    .checkmark{
        width: 2.8rem;
        height: 2.8rem;
    }

    .ratingSelected {
        width: 11.8rem;
    }

}

